<table class="ui table">
  <thead>
    <tr>
      <th>Code</th>
      <th>Temp</th>
      <th>Wind Speed</th>
      <th>Wind Direction</th>
      <th>Pressure</th>
    </tr>
  </thead>
  <tbody>
    {{#each playlist.songs}}
      <tr>
        <td>
          {{code}}
        </td>
        <td>
          {{temp}}
        </td>
        <td>
          {{windSpeed}}
        </td>
        <td>
          {{temp}}
        </td>
        <td>
          {{temp}}
        </td>
      </tr>
    {{/each}}
</tbody>
</table>